

<h1>Editing Book</h1>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>


<%= form_with(model: @book, local: true) do |f| %>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

 <a>
   <%= link_to "Show", book_path %> | <%= link_to "Back", books_path %>
 </a>
